{{#jane-maps
  id='map'
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    center=center
                    hash=true)
  mapLoaded=(action 'handleMapLoad')
  as |map|}}


  {{#each builtLayers as |layer| }}
    {{map.layer layer=layer before='waterway-label'}}
  {{/each}}

{{/jane-maps}}

{{#unless narrativeVisible}}
  <a {{action toggleNarrative}} class="narrative-link">{{fa-icon 'chevron-left' class="medium-gray"}}&nbsp;{{fa-icon 'align-left'}}</a>
{{/unless}}

<ul class="menu geography-selector">
  <li class="{{if (eq geographyLevel 'municipality') 'active'}} explode-block">
    <a {{action handleGeographyLevelToggle 'municipality'}}>Municipality</a>
  </li>
  <li class="{{if (eq geographyLevel 'county') 'active'}} explode-tract">
    <a {{action handleGeographyLevelToggle 'county'}}>County</a>
  </li>
  <li class="{{if (eq geographyLevel 'subregion') 'active'}} explode-nta">
    <a {{action handleGeographyLevelToggle 'subregion'}}>Subregion</a>
  </li>
</ul>

{{yield}}
