{{#mapbox-gl
  id='map'
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    center=center
                    hash=true)
  mapLoaded=(action 'handleMapLoad')
  as |map|}}

  {{!-- Main Layers --}}
  {{#each visibleLayers key='id' as |layer|}}
    {{map.layer layer=layer before='waterway-label'}}
  {{/each}}

  {{!-- Highlighted Layer Handling --}}
  {{#if highlightedFeature}}
    {{map.layer layer=highlightedFeatureLayer before='waterway-label'}}
  {{/if}}

  {{!-- Legends --}}
  {{map-utility-box
    mapConfig=mapConfig
    toggles=mapConfig.toggles
    handleGeographyLevelToggle=(action 'handleGeographyLevelToggle')
    layerTitle=map.layerTitle
    geographyLevel=geographyLevel}}

  {{yield (hash mapboxGl=map)}}

  {{map.on 'mousemove' (action 'handleMouseMove')}}
  {{map.on 'click' (action 'handleMouseClick')}}
{{/mapbox-gl}}

{{#unless narrativeVisible}}
  <a {{action toggleNarrative}} class="narrative-link">
    <span class="hide-for-large">{{fa-icon 'chevron-up'}}</span>
    <span class="show-for-large">{{fa-icon 'chevron-left' class="medium-gray"}}&nbsp;{{fa-icon 'align-left'}}</span>
  </a>
{{/unless}}
