{{#mapbox-gl
  id='map'
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    minZoom=minZoom
                    maxZoom=maxZoom
                    maxBounds=maxBounds
                    center=center
                    hash=true)
  mapLoaded=(action 'handleMapLoad')
  as |map|}}

  {{!-- Main Layers --}}
  {{#each visibleLayers key='id' as |layer|}}
    {{map.layer layer=layer before='waterway-label'}}
  {{/each}}

  {{!-- Highlighted Layer Handling --}}
  {{#if highlightedFeature}}
    {{map.layer layer=highlightedFeatureLayer before='waterway-label'}}
  {{/if}}

  {{!-- Legends --}}
  {{#if currentLayerGroup.legend}}
    {{legend-box
      currentLayerGroup=currentLayerGroup
      isPercent=mapConfig.isPercent
      isChangeMeasurement=mapConfig.isChangeMeasurement
      isRatio=mapConfig.isRatio
      narrativeVisible=narrativeVisible
    }}
  {{/if}}

  {{!-- Geometry toggle --}}
  {{geometry-toggle
    geographyLevel=geographyLevel
    handleGeographyLevelToggle=(action 'handleGeographyLevelToggle')
    layerGroups=mapConfig.layerGroups
  }}

  {{yield (hash mapboxGl=map)}}

  {{map.on 'mousemove' (action 'handleMouseMove')}}
  {{#if mapConfig.popupColumns}}
    {{map.on 'click' (action 'handleMouseClick')}}
  {{/if}}
{{/mapbox-gl}}

{{#if highlightedFeature}}
  {{#if highlightedFeature.properties.name}}
    <div class='map-tooltip' style="top: {{tooltipPoint.y}}px;left: {{tooltipPoint.x}}px;">
      {{highlightedFeature.properties.name}}
    </div>
  {{/if}}
{{/if}}

<div class="map-meta-box">
  {{#unless narrativeVisible}}
    {{#if mapTitle}}<h1 class="map-title">{{mapTitle}}</h1>{{/if}}
  {{/unless}}
  {{#if mapConfig.popupColumns}}
    <p class="call-to-action">{{fa-icon 'hand-pointer-o'}} Select a geography to view its details.</p>
  {{/if}}
</div>

{{#unless narrativeVisible}}
  <a {{action toggleNarrative}} class="narrative-link">
    <span class="hide-for-large">{{fa-icon 'chevron-up'}}</span>
    <span class="show-for-large">{{fa-icon 'chevron-left' class="medium-gray"}}&nbsp;{{fa-icon 'align-left'}}</span>
  </a>
{{/unless}}
