{{log 'MAPCONFIG' (await mapConfig.sources)}}

{{#jane-maps
  id='map'
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    center=center
                    hash=true)
  mapLoaded=(action 'handleMapLoad')
  as |map|}}


  {{#each builtLayers as |layer| }}
    {{log layer}}

    {{map.layer layer=layer before='waterway-label'}}
  {{/each}}

{{/jane-maps}}



{{#if noNarrative}}
<a class="narrative-link">{{fa-icon 'chevron-left' class="medium-gray"}} {{fa-icon 'align-left'}}</a>
{{/if}}

{{yield}}
