{{map-from-id
  id=model.map
  narrativeVisible=narrativeVisible
  toggleNarrative=(action 'toggleNarrative')
  mapConfig=model.map
}}

{{#if narrativeVisible}}
  <a {{action 'toggleNarrative'}} class="narrative-toggle">
    <span>{{fa-icon 'times'}}</span>
  </a>
  <div class="cell large-5 xlarge-4 narrative-container">
    <h1 class="header-xlarge narrative-title">{{model.title}}</h1>
    {{md-text text = model.content}}
    {{outlet}}

    <nav aria-label="Pagination" class="narrative-navigation">
      <ul class="pagination text-center">
        <li class="pagination-previous disabled">Previous</li>
        <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
      </ul>
    </nav>

  </div>
{{/if}}

{{outlet}}
