{{#map-from-id
  narrativeVisible=narrativeVisible
  toggleNarrative=(action 'toggleNarrative')
  mapConfig=model.map
  as |map|
}}

  {{supporting-layers map=map.mapboxGl}}
{{/map-from-id}}

{{#if narrativeVisible}}
  <a {{action 'toggleNarrative'}} class="narrative-toggle">
    <span>{{fa-icon 'times'}}</span>
  </a>
  <div class="cell large-5 xlarge-4 narrative-container" id="scrollable-content">
    <a id="top"></a>

    {{#if model.title}}
      <h1 class="header-xlarge narrative-title">{{model.title}}</h1>
    {{/if}}

    {{md-text
      text=model.content
      html=true
    }}

    {{#if model.source}}
      <hr>
      <div class="text-small dark-gray">
        {{md-text
          text=model.source
          html=true
        }}
      </div>
    {{/if}}

    {{outlet}}

    {{#if model.isLinearNarrative}}
      <nav class="narrative-navigation text-center">
        {{#if model.transitionPrompt}}
          <p class="narrative-transition-prompt"><span style="font-weight:normal;">NEXT:</span> {{model.transitionPrompt}}</p>
        {{/if}}

        {{#link-to 'map' previousNarrative.categorySlug previousNarrative.slug class=(if previousNarrative 'button tiny gray text-orange pagination-prev' 'button tiny gray text-orange disabled pagination-prev')}}
          {{fa-icon 'arrow-left'}}
        {{/link-to}}

        {{#link-to 'map' nextNarrative.categorySlug nextNarrative.slug class=(if nextNarrative 'button pagination-next' 'button disabled pagination-next')}}
          Learn&nbsp;More&nbsp;&nbsp;{{fa-icon 'arrow-right'}}
        {{/link-to}}
      </nav>
    {{/if}}

  </div>
{{/if}}

{{outlet}}
